{% extends "web/_file_base.html" %}
{% block file_contents %}
    File too big ({{ file_in_artifact.file.size|filesizeformat }} &gt; {{ file_max_size|filesizeformat }}):
    you can <a href="{{ file_in_artifact.get_absolute_url_raw }}">view it raw</a>
    or <a href="{% url 'workspaces:artifacts:download-path' wname=file_in_artifact.artifact.workspace.name artifact_id=file_in_artifact.artifact_id path=file_in_artifact.path %}">download</a> it instead.
{% endblock %}
